
<div>
    <h1>Tasks</h1>
    <hr color="red">
    <p>Search <input type="text" [(ngModel)]="search" placeholder="search task here">
        &nbsp;<span (click)="create()"> Create new task </span> </p>
    <tr>
        <th>userId</th> 
        <th>ID</th>
        <th> title</th>
        <th>completed</th>
    </tr>
<tr *ngFor="let a of task |filter:search"> 
    
        <td>{{a.userId}}</td> 
        <td>{{a.id}}</td>
        <td>{{a.title}}</td>
        <td>{{a.completed}}</td>
         </tr>
 </div>
